*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button{
    width: 90px;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}